*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden!important;
    background-color: #b800000a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
p{
    margin-bottom: 0px!important;
}
ul {
     padding-left: 0px !important; 
}
.pre-head{
    background-color: #ce000c;
    color: white;
    padding: 10px;
    /* display: flex; */
}
.header0{
    display: flex;
    justify-content: space-between;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.navbar-toggler{
    border: none !important;
    color: #ce000c !important;
} 

.pre-nav{
    background-color: #ce000c;
    padding: 6px 0px;   
}
.pre-header{
   
    align-items: center;
    margin-left: 50px;
}
.pre-header1 a, .pre-header2 a{
    color: white;
    margin-right: 20px;
}
.pre-header1 i{
    margin-right: 8px;
}
.pre-header2 i{
    /*margin-right: 10px;*/
    font-size: 17px;
    cursor: pointer;
}
/*.pre-header2 i:hover{*/
/*    color: black;*/
/*}*/
/*.pre-header2 .fa-square-facebook:hover{*/
/*    color:	#1877F2;*/
/*}*/
/*.pre-header2 .fa-twitter:hover{*/
/*  color: #1DA1F2;*/
/*}*/
/*.pre-header2 .fa-instagram:hover{*/
/*  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);*/
/*}*/
/*.pre-header2 .fa-youtube:hover{*/
/*  color: #FF0000;*/
/*}*/
.pre-header p{
    margin-bottom: 0px;
}
.pre-header p a, .pre-header p i{
    color: white;
    font-size: 16px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary{
    position: sticky;
    transition: all 1s linear;
        z-index: 9009;
}
.navbar{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 100px;
    position: relative;
    transition: all 1s linear;
}
.nav{
    width: 100%;
}
.nav-item{
    margin: 0px 15px;
    transition: padding 0.3s ease;
}
.navbar .nav-item a{
    color: #ce000c;
    text-align: center;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #f8f9fa;
}
.navbar .nav-item a.active{
  color: white;
  background-color: #ce000c;
}
.navbar .nav-item a:hover{
    color: white;
    background-color: #ce000c;
    /* padding: 12px 28px; */
    border-radius: 6px;
}
#navbarNavDropdown{
    justify-content: end;
}
.navbar-nav{
    background-color: #f8f9fa;
}
.hoverable-dropdown:hover .dropdown-menu{
    display: block;
    padding-top: 0;
    padding-bottom: 0px;
}
.logo{
    height: 100px;
    width: 175px;
}
button.btn{
    background-color: #ce000c;
    color: white;
    border: 1px solid #ce000c;
    border-radius: 0px 5px 5px 0px;
}
button.btn:hover{
    border: 1px solid #ce000c;
    background-color: #ce000c;
    color: white;
}
input.form-control.form-input{
    border: 1px solid #ce000c;
    border-radius: 5px 0px 0px 5px;
    background-color: #f8f9fa;
}
.about{
    position: relative;
}
.sideimg{
    position: absolute;
    top: 115px;
    left: -28px;
    height: 344px;
    transform: rotate(15deg);
}
.abt-read{
    background-color: #ce000c;
    color: white;
    padding: 9px 15px;
    border: 1px solid #ce000c;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    z-index: 4;
}
.abt-read:hover{
    background-color: white;
    color: #ce000c;
    border: 1px solid #ce000c;
    border-radius: 5px;
}
.abt-read a{
  color: inherit;
}
div.row.abt-para{
    margin-top: 40px;
    padding: 20px;
    background: url(img/about2.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.row.abt-para:before{
  content: "";
  position: absolute !important;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 2;
  margin-top: 115px;
}
div.row.abt-para p{
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 4;
}
.choose-us
{
  margin-top: 30px;
  margin-top: 30px;
}
.chs{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.chs-info p{
  font-size: 16px;
  font-weight: 500;
  color: #ce000c;
  padding-top: 10px;
}
.chs .icon img{
  max-width: 89px;
  max-height: 89px;
}
.wrapper {
  height: 401px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
  width: 100%;
  height: 107%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  /* background: url(photos/FinalJPG/3DLOTUS.jpg); */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  text-align: center;
}
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1,
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 15px;
    float: left;
    /* width: calc(70% - 40px); */
    width: 100%;
    text-align: center;
}
.wrapper .container .bottom .left .details p{
    color:#ce000c;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* .wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
} */
/* .wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #ce000c;
  transition: transform 0.5s;
  
} */
/* .wrapper .container .bottom .left .buy:hover {
  background: #ce000c;
  color: white;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394B;
} */
.wrapper .container .bottom .right {
  width: 50%;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove,
.wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0px!important;
    padding-left: 0px!important;
    margin-right: auto;
    margin-left: auto;
}

.wrapper .inside {
  z-index: 9;
  background: #ce000c;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  text-align: center;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5) translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents span {
  width: 100%;
}
.wrapper .inside .contents h1,
.wrapper .inside .contents p{
  color: white;
}
.wrapper .inside .contents span{
  color: white;
  margin-bottom: 10px;
  font-size: 17px;
}
.wrapper .inside .contents span p{
  font-size: 16px;
}
.wrapper .inside .contents p {
  font-size: 13px;
}
.prt{
  position:relative;
}
.prdt-img{
    max-width: 100%;
    /* height: auto; */
    object-fit: contain;
    height: 350px!important;
    margin: 0 auto;
    text-align: center;
}
.ftr{
  padding-top: 30px;
  position: relative;
}
.ftr-info p{
  color: #ce000c;
}
.item1{
  text-align: center;
  background-color: white;
  overflow:hidden;
  border-radius: 9px;
}
.item2{
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
}
.design{
  background-color: red;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 219px;
  top: -31px;   
  border-radius: 10px;
  transform: rotate(45deg);
  opacity: .1;
  transition: var(--transition);
  z-index: -1;   
}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
.cap{
    margin-top: 30px;
}
.item{
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    padding: 5px;
    background-color: #ce000c;
    border-radius: 9px;
}
.cap-img{
  height: 190px;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 40px;
}
.shadow-bx img{
    border-radius: 9px;
}
.cap-info{
    text-align: center;
    color: white;
}
.footer{
  padding-top: 50px;
  color: white;
  background-color: #ce000c;
}
.sec1 .sec1-img img{
  height: 100px;
  width: 190px;
  margin-bottom: 10px;
}
.sec2 .sec2-info .icon-list li i, .sec3 .sec3-info .icon-list li i{
  margin-right: 5px;
}
.sec2-info li a, .sec3-info li a{
  color: white;
  transition: all.3s ease-in-out;
} 
/*.sec2-info li a:hover, .sec3-info li a:hover{*/
/*  color: white;*/
/*} */

.sec2-info li a:hover,
.sec3-info li a:hover {
  color: black;
}

.sec4-info{
  margin-bottom: 20px;
}
.sec4-info li{
  margin-bottom: 10px;
}
.sec2-info li, .sec3-info li{
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}
.sec2-info li:hover, .sec3-info li:hover{
  color: black;
  transform: translateX(7px);
}
.sec4-info li i, .sec3-info li i{
  margin-right: 10px;
}
.sec4-info li i{
    color: white;
}
.sec1, .sec2, .sec3, .sec4{
  text-align: left;
}
.sec1-head, .sec2-head, .sec3-head, .sec4-head{
  margin-bottom: 20px;
}

/* photogallery */
.photo{
  padding-bottom: 30px;
}
.gallery{
  margin-top: 30px;
  /*position: relative;*/
}
.side{
  position: absolute;
  height: 200px;
  right: -836px;
  transform: rotate(316deg);
  bottom: 545px;
}
.side1{
  position: absolute;
    height: 200px;
    transform: rotate(10deg);
    right: -111px;
}
.side2{
  position: absolute;
  height: 200px;
  transform: rotate(11deg);
  left: -132px;
  top: 81px;
}
.gallery:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0px 45px 0px 45px;
}
.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
  font-size: 18px;
  font-weight: 500;
  color: #ce000c;
}
.pht-img{
  border: 1px solid #ce000c4f;
  border-radius: 0px 45px 0px 0px;
  text-align: center;
  overflow: hidden;
}
.pht-img a img{
  transition: all .5s;
}
.pht-img a img:hover{
  transform:scale(1.1)
}
.pht-img img{
  border-radius: 0px 45px 0px 0px;
  max-height: 332px;
  min-height: 332px;
}
.pht-info{
  border: 1px solid #ce000c4f;
  border-radius: 0px 0px 0px 45px;
  padding: 10px;
  text-align: center;
  background-color: #ce000c;
}
.pht-info p{
  color: black;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
/* photogallery */

/* video gallery */
.video{
  position: relative;
}
.side3{
  position: absolute;
  height: 200px;
  transform: rotate(21deg);
  left: -38px;
  top: 399px;
}
.photo{
    position: relative;
}
.side4 {
  position: absolute;
  height: 200px;
  transform: rotate(10deg);
  right: -15px;
  /*top: 319px;*/
}
.side5 {
  position: absolute;
  height: 200px;
  right: -59px;
  transform: rotate(316deg);
  bottom: 508px;
}
.yt-video{
  margin-top: 40px;
}
/* video gallery */


/* product detail */
.zoomable{
  position: relative;
    overflow: hidden;
    /* border-radius: 30px; */
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
}
.zoomable .zoomable__img{
  transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
    transition: transform 0.15s linear;
}
.zoomable--zoomed .zoomable__img {
  cursor: zoom-in;
  transform: scale(var(--zoom, 2));
}
.detail{
  position: relative;
}
.dtl{
  /*padding-left: 40px;*/
  position: relative;
}
.dtl-head{
  margin-top: 30px;
}
.dtl-name{
  color: #ce000c;
}
.table-head{
  margin-top: 30px;
  margin-bottom: 15px;
}
.desc{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.prdt-desc{
  padding: 20px;
  margin-top: 30px;
}
.prdt-desc i{
  color: #ce000c;
  margin-right: 10px;
}
.dtl-btn{
  background-color: #ce000c;
  color: white;
  border: 1px solid #ce000c;
  border-radius: 9px;
  margin-top: 30px;
  padding: 8px;
}
.dtl-btn:hover{
  border: 1px solid #ce000c;
  color: #ce000c;
  background-color: white;
}
.side6{
  position: absolute;
  height: 260px;
  transform: rotate(10deg);
  right: -15px;
}
.side7 {
  position: absolute;
  height: 270px;
  transform: rotate(321deg);
  right: -93px;
  bottom: 545px;
}
/* product detail */

/* contact */
.cnt-info1{
  position: relative;
  border-bottom: 1px solid lightgray;
  border-radius: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 0px -2px;
  height: 130px;
  align-items: center;
  padding-left: 20px;
  margin-top: 30px;
}
.cnt-info1 i, .cnt-info2 i, .cnt-info3 i{
  font-size: 30px;
  color: #ce000c;
}
.cnt-info1 p{
  margin-left: 20px;
}
.cnt-info1 p:before{
  content: "";
  position: absolute;
  left: 61px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 50px;
  background: #D7D7D7;
}
.cnt-info2{
  position: relative;
  border-bottom: 1px solid lightgray;
  border-radius: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 0px -2px;
  height: 130px;
  align-items: center;
  padding-left: 20px;
  margin-top: 30px;
}
.cnt-info2 p{
  margin-left: 20px;
}
.cnt-info2 p:before{
  content: "";
  position: absolute;
  left: 58px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 60px;
  background: #D7D7D7;
}
.cnt-info3{
  position: relative;
  border-bottom: 1px solid lightgray;
  border-radius: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 0px -2px;
  height: 130px;
  align-items: center;
  padding-left: 20px;
  margin-top: 30px;
}
.cnt-info3 p{
  margin-left: 20px;
}
.cnt-info3 p:before{
  content: "";
  position: absolute;
  left: 49px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 55px;
  background: #D7D7D7;
}
.cnt-img img{
  border-radius: 9px;
}
.form-field{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 9px;
  padding-left: 3px;
  width: 48%;
}
.text-field{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 3px;
  width: 100%;
}
.contact-form{
  margin-top: 30px;
}
.cnt-btn{
  background-color: #ce000c;
  color: white;
  border: 1px solid #ce000c;
  border-radius: 9px;
  padding: 9px 19px;
  margin-top: 10px;
}
.cnt-btn:hover{
  background-color: white;
  color: #ce000c;
}
.cnt-btn a{
  color: inherit;
}
.map{
  margin-top: 20px;
}
/* contact */

/* about page */
.abt-img img{
  border-radius: 9px;
}
.abt-content{
  margin-top: 30px; 
  margin-bottom: 30px;
}
/* about page */

/* thank you */
.thank{
  text-align: center;
}
.thank-info h3{
  margin-top: 30px;
}
.thank-btn{
  background-color: #ce000c;
  border: 1px solid #ce000c;
  border-radius: 9px;
  padding: 9px;
  margin-bottom: 20px;
  color: white;
}

.thank-btn:hover{
    background:white;
    color:#ce000c;
}


.thank-btn a {
  color: inherit;
}
/* thank you */



.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #ce000c !important;
    border-color: #ce000c !important;
}


















.wp-icon{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 45px;
  right: 16px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  z-index: 9999999999999;
}
.abt-name{
    color: #ce000c;
    font-size: 35px;
    font-weight: 500;
    margin-top: 30px;
}
.heading1{
    text-align: center;
}
.border1{
		display: inline-block;
		position: relative;
		border-bottom: 4px solid #ce000c;
		width: 190px;
		height: 4px;
	}


	.border1:after {
		content: '';
		position: absolute;
		left: 0;
		top: -1px;
		height: 6px;
		width: 25px;
		border-radius: 0px;
		background-color: white;
		-webkit-animation: heading-move 5s infinite linear;
		animation: heading-move 5s infinite linear;
	}

	@keyframes heading-move {
		0% {
		  transform: translateX(-1px);
		}
		50% {
		  transform: translateX(75px);
		}
		100% {
		  transform: translateX(-1px);
		}
	  }
	  
	  
	  
	  .tab-pane ul li p{
    position:relative;
}
.tab-pane ul li p:before{
    position: absolute;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #ce000c;
    font-weight: 400;
    content: "\f058";
     font-family: "FontAwesome";
    left: -22px;
}
    
    
    li::marker{
        
    text-decoration: none;
    list-style:none;
}

/*about */

.abt-img img{
  border-radius: 9px;
  max-height: 300px;
}
.abt-content{
  margin-top: 30px; 
  margin-bottom: 30px;
}
.abt-head{
  text-align: center;
  margin-top: 20px;
  color: #ce000c;
}
.abt-ininfo{
  align-items: center;
}
.abt-ininfo ul i {
  color: #ce000c;
}
.abt-li li{
  position: relative;
}
.abt-li li:before {
  position: absolute !important;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #ce000c;
  font-weight: 400;
  content: "\f101" !important;
  font-family: "FontAwesome";
  left: -20px;
}
.abt-head1{
  text-align: center;
  margin-top: 50px;
  color: #ce000c;
}
.abt-content .container p{
  font-size: 16px;
  font-weight: 600;
}

.wrapper{
  display: block;
  /*margin: 50px auto 50px;*/
  max-width: 1170px;
}
.box{
  border-radius: 5px;
  background: aliceblue;
}
.box h1,.box h2,.box h3{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  margin: 0 10px 0 10px;
  position: relative;
  top: -20px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.wrapper > h1{
 text-align: center;
 margin-bottom: 2.5em;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #795548, 0 0 30px #795548, 0 0 40px #795548, 0 0 55px #795548, 0 0 75px #795548, -40px -40px 0px rgba(28,110,164,0);
}
h1 span {
 color:#2196fd;
}
h1 span:nth-child(2){
 color:#fd5263;
}
h1 span:last-child{
 color:#7983f8;
}
.flexbox .box{
  border: 1px solid #ce000c;
}
.flexbox .box:nth-child(2){
  border: 1px solid #f90;
}
.flexbox .box:last-child{
  border: 1px solid #a7c;
}
.box h1{
  background: #ce000c;
}
.box h2{
  background: #ce000c;
}
.box h3{
  background: #ce000c;
}
.box p {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  color: #a7c;
  margin: 0;
}
.box .first {
  color: #ce000c;
}
.box .second{
  color: #ce000c;
}
.box .third {
  color: #ce000c;
}
.box span {
  display: block;
  text-align: center;
  color: #a7c;
  font-size: 53px;
  margin-bottom: 5px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 15px;
  justify-content: center;
  margin-top: 71px;
}
.flexbox .box{
  width: 280px;
  box-sizing: border-box;
  margin: 0 15px;
  margin-bottom: 5em;
  position: relative;
}
.flexbox .box:after{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  bottom: -10%;
  left: 5%;
  height: 20px;
  width: 90%;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
}
.contents{
  text-align: justify !important;
  padding: 15px 15px !important;
  font-size: 15px !important;
}
.scrollbar{
  height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#content-scroll::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
#content-scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#04ffb4), to(#2196fd), color-stop(.6,#2196fd));
}
#content-scroll1::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
#content-scroll1::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #ce000c;
  background-image: #ce000c;
}
#content-scroll2::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
#content-scroll2::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #ce000c;
  background-image: #ce000c;
}   


.heading{
  color: white;
  z-index: 4;
  position: relative;
}


ul.pagination {
    background: #d60016;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    padding: 9px 40px;
    border: none;
}


.active>.page-link, .page-link.active {
     z-index: 3;
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: #d60016 !important;
    /* line-height: 23px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: white !important;
}

a.page-link {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color:white;
}


.page-item:last-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
    background: white;
    color: black;
}


li.page-item {
    margin: 0px 8px;
}


.page-item:last-child .page-link {
border-radius: 50% !important;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    /* line-height: 23px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}



.page-item:first-child .page-link {
   border-radius: 50% !important;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    /* line-height: 23px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border:none;
}


.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
    background: none !important;
    color: black !important;
}



.cnt-info2 p{
    margin-left: 50px;
    margin-top: -28px;
}

.cnt-info1 p{
    margin-left: 48px;
    margin-top: -25px;
}
}



/*09-04-2024 */



ul.dropdown-menu.cust-nav {
    height: 250px !important;
    overflow: scroll;
    overflow-x: hidden;
}

.feature-name{
    text-align: center;
    color: #ce000c;
    font-size:20px;
    font-weight: 700;
}



/*.feature{*/
/*    position: relative;*/
/*}*/
/*.feature-info ul li:before{*/
/*    position: absolute;*/
/*    height: 20px;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #ce000c;*/
/*    font-weight: 400;*/
/*    content: "\f058";*/
/*     font-family: "FontAwesome";*/
/*    left: 271px;*/
/*}*/
/*.feature-info1 ul li:before{*/
/*    position: absolute;*/
/*    height: 20px;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #ce000c;*/
/*    font-weight: 400;*/
/*    content: "\f058";*/
/*     font-family: "FontAwesome";*/
/*    left: 572px;*/
/*}*/
.feature{
    margin-top:50px;
}
.feature-info{
    margin-top: 20px;
}

.feature-info {
    position: relative;
    left: 30px;
}


.feature-info li{
    margin:5px 0px;
}

.feature-info li::before {
       position: absolute !important;
    height: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #ce000c;
    font-weight: 400;
    content: ""; 
    background-image: url('img/logo-Navdeep.png'); /* Set your background image URL here */
    background-size: contain; /* Adjust background image size as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center;
    left: -26px;
    height: 20px;
    width: 20px;
    
}

.abt-content{
    text-align: center;
}


/*16-4-24*/
.cnt-info1 {
    position: relative;
    border-bottom: 1px solid lightgray;
    border-radius: 9px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 0px -2px;
    height: 130px;
    align-items: center;
    padding-left: 23px;
    margin-top: 30px;
    padding-top: 40px;
}
.cnt-info1 i{
    font-size: 22px;
    color: #ce000c;
}
.cnt-info2 {
    position: relative;
    border-bottom: 1px solid lightgray;
    border-radius: 9px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 0px -2px;
    height: 130px;
    align-items: center;
    padding-left: 20px;
    margin-top: 30px;
    padding-top: 30px;
}
.cnt-info2 p {
    margin-left: 50px;
    margin-top: -35px;
}
.cnt-info2 i {
    font-size: 30px;
    color: #ce000c;
    margin-top: 17px;
}























